body {
  color: $font-light;
  font-family: sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  color: $font-dark;
  font-size: 2.8rem;
  text-decoration: underline;
}

h3 {
  color: $font-mid;
  font-size: 1.7rem;
}

h4 {

}

a {
 text-decoration: none;
 color: #eee;
 transition: $transition-default;
}

p {
  color: $font-dark;
  font-size: 1.6rem;
}

ul {
 list-style: none;
}

li {

}

::selection {

}






/* Below this line is used for font testing purposes */

/*

     font-family: 'Poiret One', ;
     font-family: 'Cookie', ;
     font-family: 'Handlee', ;
     font-family: 'Josefin Slab', ;
     font-family: 'Economica', ;
     font-family: 'Arima Madurai', ;
     font-family: 'Mali', ;
     font-family: 'Sofia', ;
     font-family: 'Montez', ;
     font-family: 'Spirax', ;
     font-family: 'Henny Penny', ;

 */

.poiret-one {
  font-family: 'Poiret One', sans-serif;
}

.cookie {
  font-family: 'Cookie', sans-serif;
}

.handlee {
  font-family: 'Handlee', sans-serif;
}

.josefin-slab {
  font-family: 'Josefin Slab', sans-serif;
}

.economica {
  font-family: 'Economica', sans-serif;
}

.arima-madurai {
  font-family: 'Arima Madurai', sans-serif;
}

.mali {
  font-family: 'Mali', sans-serif;
}

.sophia {
  font-family: 'Sofia', sans-serif;
}

.montez {
  font-family: 'Montez', sans-serif;
}

.spirex {
  font-family: 'Spirax', sans-serif;
}

.henny-penny {
  font-family: 'Henny Penny', sans-serif;
}