.article{
  display: flex;
  flex-direction: column;
  width: 70rem;
  border-radius: $bor-rad;
  margin-top: 2rem;
  padding: 2rem;
  background-color: $color-light;
  box-shadow: $box-shadow;

  &__heading {
    margin-bottom: 2rem;
  }

  &__preview {
    display: flex;
    justify-content: space-between;
  }

  &__preview-text {
    flex: 1;
    padding: 2rem 1rem;
  }

  &__sub-heading {
    margin-bottom: 1rem;
  }

  &__author {
    font-size: 1.4rem;
  }

  &__date {
    margin-bottom: 3rem;
    font-size: 1.4rem;
  }

  &__img-box {
    width: 30rem;
  }
  
  &__img {
    margin-bottom: 1rem;
    border-radius: $bor-rad-sm;
    border: 3px solid $color-dark;
    box-shadow: $box-shadow-sm;
  }

  &__caption {
    margin-bottom: 2rem;
    color: $font-dark;
    font-size: 1rem;
  }

  &__text {
    margin-bottom: 1rem;
    text-indent: $indent;
  }

  &__text-link {
    text-decoration: underline;
    color: $color-mid;

    &:hover {
      color: $color-dark
    }
  }

  &__references {
    width: 100%;
    margin-top: 2rem;
  }

  &__references-heading {
    margin-bottom: 1rem;
    color: $font-dark;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: underline;
  }

  &__source {
    display: block;
    max-width: 60rem;
    margin-left: 2rem;
    margin-bottom: 2px;
    padding: .4rem .8rem;
    border-radius: $bor-rad-sm;
    background-color: #444;
    color: #ddd;
    font-size: 1.2rem;

    &:hover {
      background-color: #333;
    }
  }
}