.article{ 
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 70vh;
  border-radius: $bor-rad;
  margin-top: 4rem;
  padding: 2rem;
  background-color: $color-light;
  box-shadow: $box-shadow;

  background-color: red;

  @mixin atSmall {
    width: 50rem;
  }

  @mixin atMedium {
    width: 70rem
  }

  &__heading {
    margin-left: 1rem;
    margin-bottom: 0;

    background-color: orangered;

    @mixin atMedium {
      margin-bottom: 2rem;
    }
  }

  &__preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: orange;

    @mixin atMedium {
      flex-direction: row;
      align-items: stretch;
    }
  }

  &__preview-text {
    flex: 1;
    padding: 2rem 1rem;
  }

  &__sub-heading {
    margin-bottom: 1rem;
  }

  &__author {
    font-size: 1.4rem;
  }

  &__date {
    margin-bottom: 1rem;
    font-size: 1.4rem;

    @mixin atMedium {
      margin-bottom: 3rem;
    }
  }

  &__img-box {
    width: 96%;
    padding-top: 2rem;

    @mixin atMedium {
      width: 30rem;
    }
  }
  
  &__img {
    margin-bottom: 1rem;
    border-radius: $bor-rad-sm;
    border: 3px solid $color-dark;
    box-shadow: $box-shadow-sm;
  }

  &__caption {
    margin-bottom: 2rem;
    color: $font-dark;
    text-align: center;
    font-size: 1rem;
  }

  &__text {
    margin-bottom: 1rem;
    text-indent: $indent;

    background-color: yellowgreen;

    &--bold {
      font-weight: 600;
    }
  }

  &__text-link {
    text-decoration: underline;
    color: $font-dark;

    &:hover {
      color: $color-mid;
    }
  }

  &__list {
    margin-left: 1.4rem;
    list-style-type: square;
  }

  &__list-item {
    margin-bottom: 1rem;
    color: $font-dark;
    font-size: 1.4rem;
  }

  &__section {
    margin-bottom: 1rem;
    padding: 2rem;
    border-radius: $bor-rad;
    background-color: rgb(214, 214, 214);
  }

  &__section-heading {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  &__references {
    width: 100%;
    margin-top: 2rem;
    border-radius: $bor-rad-sm;
    padding: 2rem;
    background-color: #ccc;
  }

  &__references-heading {
    margin-bottom: 1rem;
    color: $font-dark;
    font-size: 1.8rem;
    font-weight: 300;
    text-decoration: underline;
  }

  &__source {
    display: block;
    max-width: 100%;
    margin-bottom: 2px;
    padding: .4rem .8rem;
    border-radius: $bor-rad-sm;
    background-color: #444;
    color: #ddd;
    font-size: 1.2rem;

    &:hover {
      background-color: #333;
    }
  }
}