.contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  min-height: 100vh;
  padding: 2rem;

  @mixin atLarge {
    flex-direction: row;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 2rem;
    background-color: $color-dark;
    
    &:not(:last-child) {
      margin-bottom: 2rem;
      @mixin atLarge{
        margin-bottom: 0rem
      }
    }
  }
  
  &__section-scroll {
    overflow: scroll;
    max-height: 80vh;
  }

  &__section-heading {
    margin-bottom: 2rem;
    color: $font-light;
  }

  &__section-feed {

  }

  &__section-link {

  }

  &__section-text {
    color: $font-light;
  }
}

.twitter-follow-button {
  margin-bottom: 1rem;
}

.twitter-timeline {
}