.footer{
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @mixin atMedium {
      flex-direction: row;
    }
  }

  &__nav-item {
    width: max-content;
    padding: .5rem 1rem;

    &:not(:last-child) {

      @mixin atMedium {
        margin-right: 2rem;
      }
    }
  }

  &__nav-link {
    font-size: 1.6rem;

    &:hover {
      color: $color-mid;
    }
  }

  &__copy { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    background-color: $color-mid;
    color: $font-light;
  }
}