.header{ 
  display: flex;
  justify-content: space-around;
  height: 8rem;
  background-color: $color-dark;
  border-bottom: 1px solid $font-light;

  &__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    width:10rem;
    margin-right: 1rem;
  }
  
  &__nav-link { 
    display: inline-block;
    width: 100%;
    border-radius: $bor-rad-sm;
    padding: .5rem .9rem;
    background-color: $color-dark;
    font-size: 1.6rem;

    &:hover {
      background-color: $color-mid;
      color: $font-dark;
    }
  }
}