.sidebar{
  width: 20rem;
  background-color: $color-mid;

  &__nav {
    background-color: blue;
  }

  &__nav-list {

  }

  &__nav-item {
    padding: .4rem .8rem;
  }

  &__nav-link {
    width: 100%;
    font-size: 1.4rem;
  }
}