.sidebar{
  width: 20rem;
  background-color:rgba(0,0,0,.25);;

  &__nav {
  }

  &__nav-list {

  }

  &__nav-item {
    margin-bottom: .5rem;
    padding: .4rem .8rem;
    background-color:rgba(0,0,0,.25);

    &:hover {
      background-color: rgba(#fff,.1);
    }
  }

  &__nav-link {
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
  }
}